<div class="">
	<div id="menu" class="">
		<ul>
			<li><a href="#name-pic">Me</a></li>
			<li><%=link_to "about", about_page_path %></li>
			<li><a href="#sports">My Team</a></li>
			<li><a href="#movies">Good Movies</a></li>
			<li><a href="#books">Inspiring Books</a></li>
			<li><a href="#music">My Future</a></li>
			<li><a href="#social">Social Media</a></li>
		</ul>
	</div>
	<div id="name-pic" class="">
		<h1>You name goes here</h1>
		<img src="/assets/file_name.jpg" class="">
		<a href="mailto:donshine@gmail.com">email me</a>
	</div>
	<div id="aboutme" class="">
		<h2>About me</h2>
		<p>
			Inside here I will write some content
		</p>
	</div>
	<div id="sports" class="">
		<h2>My Favourite Team</h2>
		<p>
			Inside here I will write some content
		</p>
	</div>
	<div id="movies" class="">
		<h2>Top 5 movies</h2>
		<p>
			<ol>
				<li>Movie Name</li>
				<li>Movie Name</li>
				<li>Movie Name</li>
				<li>Movie Name</li>
				<li>Movie Name</li>
			</ol>
		</p>
	</div>
	<div id="books" class="">
		<h2>Reading list</h2>
		<p>
			<ul>
				<li>Book Name</li>
				<li>Book Name</li>
				<li>Book Name</li>
				<li>Book Name</li>
				<li>Book Name</li>
			</ul>
		</p>
	</div>
	<div id="music" class="">
		<h2>What I like to listen to</h2>
		<p>
			Inside here I will write some content. You can add a list if you like
		</p>
	</div>
	<div id="future" class="">
		<h2>What I want to do</h2>
		<p>
			Inside here I will write some content. 
		</p>
	</div>
	<div id="social" class="">
		<h2>Contact Me</h2>
		<ul>
			<li><a href="#facebook"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i> facebook</a></li>
			<li><a href="#twitter"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i> twitter</a></li>
			<li><a href="#linkedin"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> linkedin</a></li>
			<li><a href="#instagram"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i> instagram</a></li>
			<li><a href="#whatsapp"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i> whatsapp</a></li>
			<li><a href="#whatsapp"><i class="fa fa-phone fa-2x" aria-hidden="true"></i> phonenumber</a></li>
		</ul>
	</div>
</div>